<p><%= comment.body %> <%= t('common.author') %>: <%= comment.user.email %>

<% if current_user && (current_user.id == comment.user_id || current_user.admin?) %>
  <%= link_to link_to t('common.edit'), edit_comment_path(comment) %> <%= link_to t('common.delete'), comment, method: :delete, data: { confirm: t('common.confirm') } %>
<% end %></p>
