<p><%= comment.body %> <%= t('common.author') %>: <%= comment.user.email %>

<% if current_user && (current_user.id == comment.user_id || current_user.admin?) %>
  <%= link_with_icon :pencil, edit_comment_path(comment), title: t('common.edit') %>
  <%= link_with_icon 'trash-o', comment, title: t('common.delete'), method: :delete, data: { confirm: t('common.confirm') } %>
<% end %></p>
