<%= @post.user.email %>

<h1><%= @post.title %></h1>

<div class="container">
  <%= render 'categories/list_categories' %>
</div>

<p><%= @post.body %></p>

<hr>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <%= render 'common/publish' %>

<% end %>

<% if current_user && current_user.admin? %>

  <%= render 'common/moderate' %>

<% end %>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <p><%= link_to t('common.edit'), edit_post_path(@post) %></p>
  <p><%= link_to t('common.delete'), @post, method: :delete, data: { confirm: t('common.confirm') } %></p>
<% end %>

<%= link_to t('.subscribe'), subscribe_post_path %>

<% if @post.comments.empty? %>
  <p><%= t('.comments_not_yet') %></p>
<% else %>
  <h3><%= t('.comments') %></h3>
  <%= render @post.comments %>
<% end %>

<%= render 'comments/form' %>

<%= link_to t('common.show'), edit_post_path(@post) %> |
<%= link_to t('common.back'), posts_path %>
