<h1><%= t('.title') %></h1>

<table class="table">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= div_for category do %>
            <%= category.name %>
          <% end %>
          <%= render 'form', category: category, hidden: true %>
        </td>
        <td><%= link_to t('common.show'), category %></td>
        <td><%= link_with_icon :pencil, '#', title: t('common.edit'), class: 'edit_category_link', data: { category_id: category.id } %></td>
        <td><%= link_with_icon 'trash-o', [:admin, category], title: t('common.delete'), method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_category'), new_admin_category_path %>
