<h1><%= t('.title') %></h1>

<table class="table">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t('common.show'), category %></td>
        <td><%= link_to t('common.edit'), edit_admin_category_path(category) %></td>
        <td><%= link_to t('common.delete'), [:admin, category], method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_category'), new_admin_category_path %>
