<%= @post.user.email %>

<h1><%= @post.title %></h1>

<div class="container">
 <%= render 'categories/list_categories' %>
</div>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <%= form_for @post, html: { style: "display: none", class: 'edit_post' } do |f| %>
    <%= render 'common/errors', object: @post %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, size: "60" %>
    </div>

    <div class="field">
      <%= f.text_area :body, size: "60x12" %>
    </div>

    <div class="button">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<p class="body"><%= @post.body %></p>

<hr>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <%= render 'common/publish' %>

  <%= link_with_icon :pencil, '#', title: t('common.edit'), class: 'edit_post_link', data: { post_id: @post.id } %>

<% end %>

<% if current_user && current_user.admin? %>

  <%= render 'common/moderate' %>

<% end %>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <p><%= link_with_icon 'trash-o', @post, title: t('common.delete'), method: :delete, data: { confirm: t('common.confirm') } %></p>
<% end %>

<% if current_user %>
  <% if current_user.subscribers_posts.where(post: @post).present? %>
    <%= link_to t('.unsubscribe'), subscription_path, method: :delete %>
  <% else %>
    <%= link_to t('.subscribe'), post_subscriptions_path(@post), method: :post %>
  <% end %>
<% end %>

<% if @post.comments.empty? %>
  <p><%= t('.comments_not_yet') %></p>
<% else %>
  <h3><%= t('.comments') %></h3>
  <%= render @post.comments %>
<% end %>

<%= render 'comments/form' %>

<%= link_to t('common.show'), edit_post_path(@post) %> |
<%= link_to t('common.back'), posts_path %>
