<%= @post.user.email %>

<h1><%= @post.title %></h1>

<div class="container">
  <%= render 'categories/category' %>
</div>

<p><%= @post.body %></p>

<hr>

<% if current_user && (current_user.id == @post.user_id || current_user.admin?) %>

  <%= render 'common/status_form' %>

  <p><%= link_to t('common.edit'), edit_post_path(@post) %></p>
  <p><%= link_to t('common.delete'), @post, method: :delete, data: { confirm: t('common.confirm') } %></p>
<% end %>

<%= link_to t('.subscribe'), subscribe_post_path %>

<% unless @post.comments.empty? %>
  <h3><%= t('.comments') %></h3>

  <%= render @post.comments %>

<% else %>
  <p><%= t('.comments_not_yet') %></p>
<% end %>

<%= render 'comments/form' %>

<%= link_to t('common.show'), edit_post_path(@post) %> |
<%= link_to t('common.back'), posts_path %>
