<h1><%= @post.title %></h1>

<div class="container">
  <%= render 'categories/category' %>
</div>

<p><%= @post.body %></p>

<hr>

<% unless @post.comments.empty? %>
  <h3>Комментарии</h3>

  <%= render @post.comments %>

<% else %>
  <p>Комментариев пока нет. Оставьте комментарий первым</p>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Просмотр', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
