<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table">
  <thead>
    <tr>
    	<th>Name</th>
    	<th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
		<% @categories.each do |c| %>
			<tr>
		  	<td><%= c.name %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_category_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>