<h1>Лента сообщений</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>

    <% @post = post %>
    <%= render 'categories/category' %>

    <p><%= truncate(post.body, length: 100, separator: ' ') { link_to "Читать далее", post } %></p>
    <p><%= link_to 'Редактировать', edit_post_path(post) %> <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></p>
  </div>
<% end %>